@font-face {
	font-family: NexaBold;
	src: url("../fonts/nexa/Nexa Bold.otf");
}

@font-face {
	font-family: Tungsten;
	src: url("../fonts/tungsten/Tungsten-Semibold.otf");
}

html, body {
	margin: 0px;
	padding: 0px;
	background: #303344;
}
#wrapper {
	height: 700px;
}

main {
	min-height: 650px;
}
#appNavigator {
	display: table;
	width: 100%;
	background: #2cf0b9;
	height: 53px;
	text-align: center;
	font-size: 16px;
	font-family: NexaBold;
	text-transform: uppercase;
}

#navTitle {
	display: table-cell;
	vertical-align: middle;
}

#backBtn {
	position: absolute;
	top: 14px;
	left: 8px;
}

.transparentBtn {
	font-family: NexaBold;
	color: white;
	font-size: 20px;
	background-color: Transparent;
	background-repeat: no-repeat;
	border: none;
	cursor: pointer;
	overflow: hidden;
	outline: none;
}

#songs {
	margin: 0 auto;
	padding-top: 15px;
}

.center {
	margin-top: 10px;
	text-align: center;
}

.song {
	height: 120px;
}

.songData {
	width: 250px;
	margin: 0 auto;
}

.circleHolder {
	float: right;
	display: inline-block;
	margin-top: 20px;
}

.counterHolder {
	float: left;
}

.hours {
	font-family: Tungsten;
	font-size: 83px;
	color: #2cf0b9;
}

.minutes {
	font-family: Tungsten;
	font-size: 26px;
	color: #2cf0b9;
	margin-left: 10px;
	position: relative;
	bottom: 40px;
	border-bottom: 5px solid #00ffff;
}

.hoursSymbol {
	font-family: Tungsten;
	font-size: 26px;
	color: #00ffff;
	padding-right: 5px;
}

#screensFlow {
	width: 35px;
	margin: 0 auto;
	left: 48%;
}

.active {
	float: left;
}

.inactive {
	float: left;
}

.left {
	margin-right: 7px;
}

.right {
}

/********* player *********/
#playerControlls {
	width: 100%;
	bottom: 0;
	position: fixed;
}
#slider {
	width: 100%;
}
#controls {
	/* height: 75px; */
	background-color: #2cf0b9 !important;
	display: flex;
}
.controlsBtn {
	width: 33.3%;
	padding-right: 12%;
	padding-left: 12%;
	display: table-cell;
	font-size: 43px;
}

#screensFlow img {
	width: 14px;
	height: 14px;
}

#screensFlowWrapper {
	padding-bottom: 30px;
}

input[type=range] {
	/*removes default webkit styles*/
	-webkit-appearance: none;
	background-color: black;
	height: 4px;
	margin-bottom: 20px;
}

input[type=range]::-webkit-slider-thumb {
	-webkit-appearance: none;
	height: 13px;
	width: 13px;
	border-radius: 50%;
	background: #2cf0b9;
}

input[type=range]::-webkit-slider-runnable-track {
	-webkit-appearance: none;
	background: #000;
	height: 4px;
}

input[type=range]::-webkit-slider-thumb:before {
	position: absolute;
	top: 2.5px;
	right: 100%;
	left: -1300px;
	background: -webkit-linear-gradient(left, #3cfba0, #009bff); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(right, #3cfba0, #009bff); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(right, #3cfba0, #009bff); /* For Firefox 3.6 to 15 */
	background: linear-gradient(to right, #3cfba0, #009bff); /* Standard syntax (must be last) */
	content: '';
	height: 4px;
	pointer-events: none;
}

input[type=range]::-webkit-slider-thumb {
	/*width: 15px;
	 height: 15px;*/
	-webkit-appearance: none;
	position: relative;
	bottom: 3px;
}

.clear {
	clear: both;
}

.ui-loader, .ui-loader-default {
	display: none !important;
}

#player {
	display: none;
}


.controlsBtn, .controlsBtn:hover,.ui-btn-active:active{
	color:white !important;
	background-color: #2cf0b9 !important;
	border: 0px solid !important;
}


